/* -----------------------------
        Imagen Corporativa
-------------------------------- */

@media (max-width: 975px) {

    .content-page-imagen{
        margin-top: 50%;
    }
    
    .imagen-photo, .imagen-text{
        position: static;
        float: none;
        width: 90%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .imagen-img{
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 600px) {

    .container-imagen{
        background: url('../img/dog-responsive.jpg');
        background-size: 100%;
        background-attachment: fixed;    
    }

    .content-page-imagen{
        margin-top: 120%;
    }
    
}

/* -----------------------------
             Index
-------------------------------- */

@media (max-width: 1250px) {

    .index-images , .index-text{
        float: none;
        position: static;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }

    .index-images{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .index-text{
        text-align: center;
    }

    .image1{
        position: relative;
    }

    .image2{
        float: right;
    }

    .img{
        padding: 2%;
    }

    .image1:hover , .image2:hover{
        transform: translate(0,15px);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out; 
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        cursor: pointer;
    }

    .content-page-index{
        display: block;
    }

}

@media(max-width: 1350px){
    .footer.index{
        position: static;
    }
}

@media (min-height: 1270px) {
    
    .footer.index{
        position: absolute;
    }

}

@media (max-width: 680px) {

    .index-images , .index-text{
        float: none;
        position: static;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }

    .index-images{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .index-text{
        padding-top: 8%;
        text-align: center;
        font-size: 120%;
    }

    .image1, .image2{
        position: static;
        float: none;
    }

    .img{
        padding: 2%;
    }

    .image1:hover , .image2:hover{
        transform: translate(0,15px);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out; 
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        cursor: pointer;
    }

    .content-page-index{
        display: block;
    }

}

/* -----------------------------
             Nosotros
-------------------------------- */

@media (max-width: 1150px) {

    .content-page-us{
        display: block;
    }

    .us-text{
        font-size: 115%;
        width: 90%;
        position: static;
        margin: auto;
        display: block;
        padding-bottom: 5%;
        padding-top: 5%;

    }
    
    .us-photo{
        position: static;
        margin: auto;
        display: block;
        float: none;
        width: 80%;
        padding-bottom: 3%;
    }

    .footer.us{
        position: static;
    }

}

@media (min-height: 1270px) {
    
    .footer.us{
        position: absolute;
    }

}

/* -----------------------------
            Encuéntranos
-------------------------------- */

@media (max-width: 975px) {

    iframe{
        padding: 5%;
        width: 80%;
    }

    .content-page-encuentranos{
        text-align: center;
        align-items: center;
        padding: 5%;
        font-size: 120%;
        color: white;
    }

}

@media (min-height: 940px) {
    
    .footer.encuentranos{
        position: absolute;
    }

}

/* -----------------------------
            Productos
-------------------------------- */

@media (max-width: 975px) {

    .text-products{
        font-size: 120%;
    }

}

