/* -----------------------------
        Backgrounds
-------------------------------- */

.container-imagen{
    background: url('../img/dog.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

/* -----------------------------
        Imagen Corporativa
-------------------------------- */

.content-page-imagen{
    padding: 2%;
    width: 100%;
    margin-top: 38%;
}

.imagen-photo{
    position: relative;
    float: right;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.imagen-text{
    position: relative;
    width: 60%;
    padding: 3%;
    font-size: 120%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.imagen-img{
    width: 400px;
    height: 400px;
}

.imagen-back{
    background-color: #0E2084;
}


/* -----------------------------
             Productos
-------------------------------- */

.content-page-index{
    background-color: #0E2084;
}


/* -----------------------------
             Index
-------------------------------- */

.index-img{
    border-radius: 5px;
}


.index-images{
    position: relative;
    float: left;
    width: 30%;
    margin-left: 6%;
    padding: 1%;

}

.index-text{
    position: relative;
    float: left;
    width: 70%;
    font-size: 140%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.image1 , .image2 , .image3{
    padding: 1%;
}

.image2{
    padding-left: 6%;
}

.content-page-index{
    display: flex;
    width: 100%;
}