/* -----------------------------
        Backgrounds
-------------------------------- */

.container-imagen{
    background: url('../img/dog.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

/* -----------------------------
        Imagen Corporativa
-------------------------------- */

.content-page-imagen{
    padding: 2%;
    width: 100%;
    margin-top: 38%;
}

.imagen-photo{
    position: relative;
    float: right;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.imagen-text{
    position: relative;
    width: 60%;
    padding: 3%;
    font-size: 120%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.imagen-img{
    width: 400px;
    height: 400px;
}

.imagen-back{
    background-color: #0E2084;
}


/* -----------------------------
             Productos
-------------------------------- */




/* -----------------------------
             Index
-------------------------------- */


.content-page-index{
    background-color: #1a2fa1;
    padding: 2%;
}

.centrar{
    text-align: center;
}

.index-images{
    position: relative;
    float: left;
    width: 24%;
    align-items: center;
    justify-content: center;
}

.index-text{
    position: relative;
    float: left;
    width: 70%;
    font-size: 140%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.image1:hover , .image2:hover{
    transform: translate(25px,0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    cursor: pointer;
}

.welcome:hover{
    transform: translate(0,-10px);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    cursor: pointer;
}

.image1 , .image2{
    padding: 1%;
    display:block;
    margin:auto;
    border-radius: 10px;
}

.content-page-index{
    display: flex;
    width: 100%;
}